<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Data Puppy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.tsx' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
    <script type="text/javascript">
      window.currentProject = <%= raw serialize_project(@project).to_json %>;
      window.projects = <%= raw Project.order(:name).map{|proj| serialize_project(@project)}.to_json %>;
    </script>

  </head>

  <body>
    <div id="app"></div>
    <%= yield %>
  </body>
</html>
