<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Data Puppy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
